:root {
  --default-ff: "Roboto";
  --default-fz: 16px;
  --default-fw: 400;
  --default-lh: 1;
  --default-color: #464555;
  --page-bc: #f9f9ff;

  --White: #fff;
  --Blue: #4F46E5;
  --Black: #000;
  --Brown: #464555;

  --border-color: #C7C4D8;
  --border-radius: 12px;
}