.system-logs-table {
  border: 1px solid var(--border-color);
  border-radius: var(--border-radius);
  overflow: hidden;
  &__top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    padding: 16px;
    background-color: #F0F3FF;
    border-bottom: 1px solid var(--border-color);
    @media (max-width: 1350px) {
      flex-direction: column;
      align-items: flex-start;
    }
  }
  &__wrapper {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 20px;
    @media (max-width: 1350px) {
      justify-content: flex-start;
      width: 100%;
    }
  }
  &__object-filter {
    @media (max-width: 1350px) {
      max-width: 250px;
      width: 100%;
    }
  }
  &__title-cell {
    font-size: 14px;
    font-weight: 400 !important;
    color: var(--Brown) !important;
    text-transform: uppercase;
    --ant-table-header-bg: var(--White);
  }
  &__bottom {
    padding: 16px;
    background-color: var(--White);
    border-top: 1px solid var(--border-color);
  }
  &__ava {
    width: 40px;
    height: 40px;
    object-fit: cover;
    border: none;
    border-radius: 4px;
    overflow: hidden;
  }
  &__info {
    display: flex;
    flex-direction: column;
    gap: 2px;
  }
  &__date {
    font-weight: 500;
  }
  &__time {
    font-size: 14px;
    color: var(--Brown);
  }
}