.history-employee {
  &__skeleton {
    width: 100% !important;
    height: 350px !important;
    margin-bottom: 20px;
    @media (max-width: 1440px) {
      height: 300px !important;
    }
    @media (max-width: 1024px) {
      height: 250px !important;
    }
    @media (max-width: 960px) {
      height: 200px !important;
    }
    @media (max-width: 480px) {
      height: 150px !important;
    }
    div {
      width: inherit !important;
      height: inherit !important;
    }
  }
  &__item {
    &:not(:last-child) {
      border-bottom: 1px solid #C7C4D8;
    }
  }
}